<ion-view view-title="About/Credits">

	<ion-content class="padding">
	<ion-list>
		<div class="item item-divider" ng-bind='App Version'>App Version</div>
		
		<div class="item item-divider" name="credits_section_app_interface_label">Interface</div>
			
			<string name="credits_section_app_interface_value">1.0.alpha.20160312</string>
		
		<div class="item item-divider" name="credits_section_app_glosssary_label">Glossary</div>
			
			<string name="credits_section_app_glossary_value">1.0.20160114</string>
			
		<div class="item item-divider" name="credits_section_app_diagrams_label">Diagrams</div>
			
			<string name="credits_section_app_diagrams_value">1.0.20160114</string>
			
		<div class="item item-divider" name="credits_section_app_more_label">More</div>
			
			<string name="credits_section_app_more_value">1.0.20160213</string>
			
		<div class="item item-divider" name="credits_section_app_conversation_label">Conversation</div>
		
			<string name="credits_section_app_conversation_value">1.0.20160114</string>
			
		<!-- Design & Development -->	
		<div class="item item-divider" ng-bind='App Development' name="credits_section_design_title">App Development</div>
		<div class="item item-divider" name="credits_section_design_label">Design &amp; Development</div>
		<string name="credits_section_design_value">Delasie Torkornoo, Marie-Odile Junker, Mimie Neacappo, Jose A Santoyo Guilarte, Yuan Sun</string>
		<div class="item item-divider" name="credits_section_design_development_label">Programming</div>
		<string name="credits_section_design_development_value">Jose A Santoyo Guilarte, Delasie Torkornoo</string>
		
		
		  <!-- labels -->
		<div class="item item-divider" name="credits_section_glossary_title">Glossary</div>
		<div class="item item-divider" name="credits_section_diagrams_title">Diagrams</div>
		<div class="item item-divider" name="credits_section_more_title">More</div>
		<div class="item item-divider" name="credits_section_conversation_title">Conversations</div>
		<div class="item item-divider" name="credits_section_conversation_label">Under the direction of</div>
		<string name="credits_section_conversation_value1">Marie-Odile Junker</string>
		<string name="credits_section_conversation_value2"><a href="http://www.atlas-ling.ca">www.atlas-ling.ca</a></string>
		
		<!-- funding -->
		<div class="item item-divider"  name="credits_section_funding_title">Funding</div>
		<string name="credits_section_funding_value_1">Cree Board of Health and Social Services of James Bay (<em>Cancer project</em>)</string>
		<string name="credits_section_funding_value_2">Social Sciences and Humanities Research Council of Canada (Insight grant # 435&#8211;2014&#8211;1199 <em>A digital infrastructure to sustain Algonquian Languages: Dictionaries and Linguistic Atlas)</em></string>    
		<string name="credits_section_funding_value_3">Carleton University</string>
    <!-- end of funding -->
    
    <!-- Voices -->
		<div class="item item-divider"  name="credits_section_voices_title">Voices</div>
		<string name="credits_section_voices_value1">Louise Blacksmith (East Cree - Southern dialect - Inland - Mistissini)</string>
		<string name="credits_section_voices_value2">Candice Diamond (East Cree - Southern dialect - Coastal - Waskaganish)</string>
		<string name="credits_section_voices_value3">Margaret Cox (East Cree - Northern dialect -  Chisasibi)</string>
		<string name="credits_section_voices_value4">Marianne Cox (East Cree - Northern dialect -  Chisasibi)</string>
		<string name="credits_section_voices_value5">Vera George (East Cree - Northern dialect -  Wapmagoostui)</string>
		<string name="credits_section_voices_value6">Frances Visitor (East Cree - Northern dialect -  Wemindji)</string>
		<string name="credits_section_voices_value7">Marie-Odile Junker (French)</string>
		<string name="credits_section_voices_value8">Marguerite MacKenzie (English)</string>
    
    <!-- End of Voices -->
    
    <!-- Based on -->
		<div class="item item-divider" name="credits_section_published_title">Based</div>
		<string name="credits_section_based_value">East Cree data from the Algonquian Linguistic Atlas: <a href="www.atlas-ling.ca">www.atlas-ling.ca</a></string>
    <!-- end  -->
   
	<!-- Published -->
		<div class="item item-divider" ng-bind='Published by' name="credits_section_published_title">Published by</div>
		<string name="credits_section_published_value1"><a href="http://www.atlas-ling.ca">www.atlas-ling.ca</a></string>
		<string name="credits_section_published_value2"> &#169;2014, www.atlas-ling.ca</string>
	
    
	<!-- end -->
		<!-- <div class="item item-divider" name="dialect">Dialect</div> -->
	
	
	
	
	
	
	
	
	</ion-list>
	</ion-content>



</ion-view>