<ion-view view-title="More">

  <ion-content class="padding">
	
	<div class="list">
		
			<a class="item item-icon-left" href="#/tab/more/preference">
				<i class="icon ion-ios-gear"></i>
				Preferences
			</a>
			<a class="item item-icon-left" href="#/tab/more/conversation">
				<i class="icon ion-ios-chatbubble-outline"></i>
				Conversation
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-film-marker"></i>
				Videos
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-information-circled"></i>
				Informations/FAQ/Tutorials
			</a>
			<a class="item item-icon-left" href="#/tab/more/about-credits">
				<i class="icon ion-help-circled"></i>
				About/Credits
			</a>
	</div>
 </ion-content>
</ion-view>
		